fastapi
uvicorn[standard]
gunicorn
databases[postgresql]
sqlalchemy
python-dotenv
passlib[bcrypt]
bcrypt==4.1.3
python-jose[cryptography]
python-multipart
httpx
boto3
psycopg2-binary
pydantic[email]
pydantic-settings
pytz
beautifulsoup4
