fastapi
uvicorn
pydantic
python-dotenv
databases[postgresql]
passlib[bcrypt]
python-jose[cryptography]
email-validator
# For sending emails
sendgrid
# For sending SMS
twilio
# For Apple sign-in
httpx
pyjwt
cryptography
# For Google sign-in
google-auth
google-auth-oauthlib
requests
facebook-sdk